version: '3.8'
services:
  web:
    build: .
    command: gunicorn flipr_backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: flipr
      POSTGRES_USER: flipr
      POSTGRES_PASSWORD: fliprpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data
  frontend:
    build:
      context: ./frontend
    ports:
      - "3002:80"
    env_file:
      - .env
    depends_on:
      - web

volumes:
  postgres_data:
